# Logs, Audits, & Security Reports
logs/
logs
*.log
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
audit-reports/
audit_reports/
*audit-report*
*audit_report*
reports/
report/
*.report
*.reports


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
